$primary-color: #63b446;
$secundary-color: #001e44;
$white-color: #ffff;
$black-color: #000;
$orange-color: #ec8337;
$footer-color: #ffff;
$linear-blue: linear-gradient(
  0deg,
  rgba(0, 51, 67, 1) 0%,
  rgba(0, 30, 68, 1) 60%
);
$linear-grey: linear-gradient(#c9c9c9 0%, #e9e9e9 52.3%, #c9c9c9 100%);

.product-img {
  min-height: 200px;
  img {
    border-radius: 13px;
  }
  img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  @media only screen and (min-width: 1024px) {
    img {
      min-height: 400px;
    }
  }
}
.miniature-img {
  height: 120px;
  width: 120px;
  img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.logout-btn {
  @media only screen and (min-width: 992px) {
    position: absolute;
    right: 0;
  }
}

.text-minify {
  @media only screen and (min-width: 320px) {
    max-width: 50px;
  }
  @media only screen and (min-width: 375px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
  }
  @media only screen and (min-width: 425px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
  @media only screen and (min-width: 768px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 493px;
  }
  @media only screen and (min-width: 1024px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 800px;
  }
  @media only screen and (min-width: 1440px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1000px;
  }
}

/* cart badge */

.cart-badge {
  font-size: 12px;
}
.cart-badge:hover {
  background: #003333;
}

.card-content {
  @media only screen and (min-width: 1024px) {
    min-height: 450px;
  }
}

.bold {
  font-weight: bold;
}

.disabled:hover {
  cursor: default;
}

.jumbotron {
  width: 30wh;
  height: 25vh;
  color: #fff;
  background: $secundary-color;
  background: $linear-blue;
  background-size: 400% 400%;
  @media only screen and (max-width: 600px) {
    height: 30vh;
  }
}
.item-wrapper {
  color: white;
  img {
    max-height: 250px;
  }
  .card {
    background: $linear-blue;
    transition: all 0.5s linear;
    border: 1px solid #cac9d1;
  }
  .card-content {
    height: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (min-width: 1024px) {
      height: 535px;
    }
  }
}
.footer {
  position: relative;
  bottom: 0 !important;
  background: $linear-blue;
  i:hover {
    display: inline;
    background: $secundary-color;
  }
}
.footer-line {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  opacity: 0.1;
  width: 100%;
}

/**
/ CSS COLOR BOOTSTRAP
*/

/*! `Custom` Bootstrap 4 theme */

$enable-grid-classes: false;
$primary: #66b34d;
$secondary: #868e96;
$success: #66b34d;
$danger: #a71d2b;
$info: #17a2b8;
$warning: #66b34d;
$light: #f8f9fa;
$dark: #001e44;
@import "bootstrap";

// Add SASS theme customizations here..
html {
  font-size: 0.8rem;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 0.9rem;
  }
}
@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}
